<div class="welcomeWrap">
  <p><span class="welcomeText">Welcome to</span> <h1 class="mainLogo"><span>✨</span>Dream Cast!</h1></p>
  <p><em>Dream Cast</em> is a free cast management tool to help create and organize cast lists for everything from small school plays to full-scale film productions.  Whether you're a gradeschool drama teacher, big time producer, or just a dreamer with big ideas, <br/><em>Dream Cast</em> is for you!</p>
</div>

<div class="startBox" ui-sref="register">GET STARTED!</div>
