<h1 class="pageTitle">My Productions</h1>

<div class="prodContainer" ng-if="!formInput">
  <div class="prodBox" ui-sref="production({uid:uid, prodId:prod.$id})" ng-repeat="prod in prods" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="prod.$id" jqyoui-draggable="{animate:true}">
    <p>{{prod.name}}</p>
  </div>
  <div class="prodBox" ng-click="toggleInput()">(New)</div>
</div>

<form class="inputForm" ng-if="formInput" ng-submit="createNewProd(newProd)">
  <input class="inputBox" type="text" placeholder="Production Name" ng-model="newProd.name">
  <div class="buttonWrap">
    <button class="inputButton" ng-click="toggleInput()">CANCEL</button>
    <button class="inputButton" type="submit">SAVE</button>
  </div>
</form>

<trash-dir></trash-dir>
